{% extends "base_generic.html" %}

<style>
.first-info{
    width: 100%;
    height: 100%;
    background-image: url( "https://cdn-images-1.medium.com/max/1600/1*EPmNPtsu4k098a2lgoApMA.jpeg");
}
</style>

{% block content %}
    <h1>Películas</h1>
      {% if movie_list %}
      <ul>

        {% for movie in movie_list %}
        <li>
          <a href="{{ movie.get_absolute_url }}">{{ movie.display_movie}} - {{ movie.post_user}}
        </li>
        {% endfor %}

      </ul>
      {% else %}
        <p>There are no books in the library.</p>
      {% endif %}
{% endblock %}
